//- Panel mixin
mixin panel(heading, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    div( class=["panel", "panel-" + style] )
        .panel-heading= heading
        .panel-body
            block
mixin result(date,value,link,title,description)
    article.search-result.row
        .col-xs-12.col-sm-12.col-md-2
            ul.meta-search
                li
                    i.glyphicon.glyphicon-calendar
                    span= date
                li
                    i.glyphicon.glyphicon-time
                    span= value
        .col-xs-12.col-sm-12.col-md-7
            h3
                a(href=link, title=title, target="_blank")= title
            p= description
        span.clearfix.borda.border
mixin pagination(cpage,ctotal,base_route,query)
    div
        ul.pagination
            if cpage > 1
                li
                    a(href=base_route+"?query="+query+"&page="+(cpage-1)) &laquo; Prev
            else
                li
                    a &laquo; Prev 
            - var page = 0
            while page < ctotal
                if ++page == cpage
                    li.active
                        span.current
                            = page
                else
                    li
                        a(href=base_route+"?query="+query+"&page="+page)
                            = page
            if cpage < ctotal
                li
                    a(href=base_route+"?query="+query+"&page="+(cpage+1)) Next &raquo;
            else
                li
                    a Next &raquo;